<form class="qaform" id="edit-question-form-{{unique_id}}">
  <div class="field">
    <label class="control-label" for="question_title">Title</label><br>
    <input class="form-control" id="question_title_{{unique_id}}" name="title" type="text" value="{{title}}" required>
  </div>
  <div class="field">
    <label class="control-label" for="question_content">Content</label><br>
    <input class="form-control" rows="3" id="question_content_{{unique_id}}" name="content" type="text" value="{{content}}" required>
  </div>
	<input id="question_user_id" name="user_id" type="hidden" value="1234" />
	<input id="form_method" name="method" type="hidden" value={{form_method}} />
	<input id="form_url" name="url" type="hidden" value={{form_url}} />
	<input id="return_template" name="tmplt" type="hidden" value={{tmplt}} />
  <br/>
  <p style="vertical-align: bottom">
		<button class="btn btn-primary btn-small" id="question-button" data-form=edit-question-form-{{unique_id}}>{{button_name}} </button>
		<a class="btn btn-danger btn-small" id="cancel-question-edit" data-uid={{unique_id}}>Cancel</a>
  </p>
</form>