<div class="panel panel-primary" id="answer-container-{{unique_id}}">
	<div id="answer-{{unique_id}}">
		<div class="panel-heading">
			Answer
		</div>
		<p id="answer-content-{{unique_id}}">{{content}}</p>
		<p>
			<a class="btn btn-primary btn-small" id="edit-answer" data-uid={{unique_id}}>Edit</a>
			<a class="btn btn-danger btn-small" id="delete-answer" data-uid={{unique_id}} data-url={{delete_url}} rel="nofollow">Delete</a>
		</p>
	</div>
	<div id="answer-edit-form-{{unique_id}}" style="display: none">
		<div class="panel-heading">
		  <h3 class="panel-title">Edit {{content}}</h3>
		</div>
		{{> answers/partials/_edit_form }}
	</div>
</div>
