<div class="page-header">
  <h1>Answers</h1>
</div>

{{#.}}
<div class="panel panel-primary" id={{unique_id}}>

	<div id="index-{{unique_id}}">
		<div class="panel-heading">
			<h3 class="panel-title" id="title-{{unique_id}}">{{title}}</h3>
		</div>
		<p id="content-{{unique_id}}">{{content}}</p>

		<div style="vertical-align: bottom">
			<a class="btn btn-info btn-small" href={{delete_url}} rel="nofollow">Answer</a>
			<a class="btn btn-primary btn-small" id="edit-event" data-uid={{unique_id}}>Edit</a>
			<a data-confirm="Are you sure?" class="btn btn-danger btn-small" id="delete-event" data-delete={{unique_id}} data-url={{delete_url}} rel="nofollow">Destroy</a>
			<ul class="nav nav-pills" style="vertical-align:top;float:right;">
	      <li class="active"><a href="#">Answers<span class="badge">{{answer_count}}</span></a></li>
			</ul>
		</div>
	</div>

	<div id="form-{{unique_id}}" style="display: none">
		<div class="panel-heading">
		  <h3 class="panel-title">Edit {{title}}</h3>
		</div>
		{{> questions/partials/_edit_form }}
	</div>
</div>
{{/.}}